{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas insanas</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Agenda 2024</h1>
            <a href="{% url 'crear_nota' %}" class="create-button">Crear Nota</a>
        </header>
        <div class="notas">
            {% for nota in notas %}
            <div class="nota">
                <h2>{{nota.titulo}}</h2>
                <p>{{nota.contenido}}</p>
                <p class="fecha">{{nota.fecha}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
